.cat-list {    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    place-content: center;
  }
  
 .card {
    margin: 8px;
    box-shadow: 0px 0px 10px rgba(25, 7, 126, 0.918);
  }
  
  section{
      margin-top: 20px;
      text-align: center;
  }

  .facts{
    padding: 25px;
    border-radius: 20px;
  }
 
  td{
    padding: 15px;

  } 
   th, td {
    border: 1px solid;
  }

  body{
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  }